/*! cyanotype.css v0.9.0 | MIT License | https://github.com/skooler/cyanotype.css */

/*-----------------------------------------------------------------------------
 * Universal reset
 *-------------------------------------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: inherit;
}

[hidden],
template {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

[unselectable] {
  user-select: none;
}

html {
  box-sizing: border-box;
  font-feature-settings: "liga";
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  line-height: 1.6;
  line-sizing: normal;
  -moz-osx-font-smoothing: grayscale;
  quotes: "\201c" "\201d" "\2018" "\2019";
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-spacing: trim-start allow-end trim-adjacent ideograph-alpha ideograph-numeric;
}

body {
  margin: 0;
}

main,
details {
  display: block;
}

summary {
  display: list-item;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

img {
  border-style: none;
  display: block;
  height: auto;
  max-width: 100%;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

hr {
  border: 0;
  border-top: 1px solid;
  box-sizing: content-box;
  clear: both;
  height: 0;
  margin: 0;
  overflow: visible;
}

[role="button"],
a,
area,
button,
label,
input:not([type=range]),
select,
textarea {
  touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.001s !important;
  }
}

/*-----------------------------------------------------------------------------
 * Vertical rhythm
 *-------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure,
table,
form,
embed,
object,
iframe,
hr {
  margin: 0 auto 1rem;
}

*:last-child {
  margin-bottom: 0;
}

/*-----------------------------------------------------------------------------
 * Typography
 *-------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select,
optgroup,
textarea,
button,
pre,
code,
kbd,
samp {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

label,
input,
select,
optgroup,
textarea,
button {
  color: inherit;
  font-family: inherit;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.58rem;
}

h4 {
  font-size: 1.22rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

b,
strong,
dt,
th {
  font-weight: bold;
}

small {
  font-size: 85%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
}

pre {
  white-space: pre-wrap;
}

address {
  font-style: inherit;
}

::placeholder {
  font: inherit;
}

/*-----------------------------------------------------------------------------
 * Links
 *-------------------------------------------------------------------------- */

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/*-----------------------------------------------------------------------------
 * Tables
 *-------------------------------------------------------------------------- */

table {
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  text-align: left;
  vertical-align: top;
}

/*-----------------------------------------------------------------------------
 * Forms
 *-------------------------------------------------------------------------- */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

label[for],
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  user-select: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

progress {
  vertical-align: baseline;
}

/*-----------------------------------------------------------------------------
 * Misc
 *-------------------------------------------------------------------------- */

nav ul,
nav ol {
  list-style: none;
  padding: 0;
}

.screen-reader-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
